<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создание комнат</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
 <form th:action="@{/CreateRoom}" th:object="${roomform}" method="post">
   <table>
     <tr>
       <td>Номер комнаты</td>
       <td><input type="text" th:field="*{number}"/></td>
     </tr>
     <tr>
       <td>Количество мест</td>
       <td><input type="text" th:field="*{count_places}"/></td>
     </tr>
     <tr>
       <td>Тип номера</td>
       <td>
       <select th:field="*{idTypeRooms}">
         <option th:each="typerooms : ${typeroomList}" th:value="${typerooms.id}" th:text="${typerooms.getName_type}"></option>
       </select>
       </td>
     </tr>
     <tr>
       <td><input type="submit" value="Создать"/></td>
     </tr>
   </table>
   </form>
 <div th:if="${errorMessage}" th:utext="${errorMessage}"
      style="color: red; font-style: italic;"></div>
</body>
</html>