<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать тип конат</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
  <FORM th:action="@{/CreateTypeRoom}" th:object="${typeroomform}" method="post">
    <table>
        <tr>
            <td>Название</td>
            <td><input type="text" th:field="*{name_type}"/></td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><input type="text" th:field="*{info}"/></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Создать"/></td>
        </tr>
    </table>

  </FORM>
</body>
</html>