<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Удаление тип комнаты</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:action="@{/DeleteTypeRoom}" th:object="${typeroomform}" method="post">
  <h2>Удаление типа комнаты? Id = </h2> <input readonly th:field="*{id}">
  <input type="submit" value="Удалить"/>
</form>
</body>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
</html>