<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Изменение комнаты</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
  <form th:action="@{/EditRoom}" th:object="${roomform}" method="post">
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" readonly th:field="*{id}"/></td>
        </tr>
      <tr>
        <td>Номер комнаты</td>
        <td><input type="text" th:field="*{number}"/></td>
      </tr>
      <tr>
        <td>Количество мест</td>
        <td><input type="text" th:field="*{count_places}"/></td>
      </tr>
      <tr>
        <td>Тип комнаты</td>
        <td>
          <select th:field="*{idTypeRooms}">
            <option th:each="typerooms : ${typeroomList}" th:value="${typerooms.id}" th:text="${typerooms.getName_type}"></option>
          </select>
        </td>
      </tr>
        <tr>
        <td><input class="button-main-page" type="submit" value="Изменить"/></td>
      </tr>
    </table>
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;">
</div>
</body>
</html>