<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Изменить тип</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
 <form th:action="@{/EditTypeRoom}" th:object="${typeroomform}" method="post">
        <table>
            <tr>
                <td>Id</td>
                <td><input type="number" readonly th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Название</td>
                <td><input type="text" th:field="*{name_type}"/></td>
            </tr>
            <tr>
                <td>Описание</td>
                <td><input type="text" th:field="*{info}"/></td>
            </tr>

            <tr>
                <td>Цена</td>
                <td><input type="text" th:field="*{price}"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Изменить"/></td>
            </tr>
        </table>
 </form>
</body>
</html>