<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>
    <a th:href="@{/CreateGuest}">Создать гостя</a><br>
    <a th:href="@{/ViewRooms}">Просмотр всех комнат</a><br>
    <a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a><br>
    <a th:href="@{/ViewGuest}">Просмотр всех гостей</a><br>
    <a th:href="@{/ViewService}">Просмотр всех услуг</a><br>
    <a th:href="@{/ViewReservation}">Просмотр всех броней</a><br>
    <a th:href="@{/ViewWorkers}">Просмотр всех рабочих</a><br>
    <a th:href="@{/ViewOrders}">Просмотр всех заказов</a><br>
    <a th:href="@{/signin}">Войти</a>
    <a th:href="@{/signup}">Зарегестрироваться</a>

</h2>
<script src="webjars/jquery/3.3.1/jquery.min.js"/>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"/>
</body>
</html>