<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рабочая область</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
  <table th:action="@{/indexWorker}" th:object="*{user}">
    <td th:field="*{worker.lastname}"></td>
      <td th:field="*{login}"></td>
      <td th:field="*{roles}"/>
  </table>
</div>
<ul class="border">
    <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
    <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
    <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
    <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
    <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
    <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
    <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
</ul>
</body>
</html>