<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>
    <a th:href="@{/CreateGuest}">Создать гостя</a>
    <a th:href="@{/ViewRooms}">Просмотр всех комнат</a>
    <a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a>
    <a th:href="@{/ViewGuest}">Просмотр всех гостей</a>
</h2>
<script src="webjars/jquery/3.3.1/jquery.min.js"/>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"/>
</body>
</html>