<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регестрация</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="auth">
<form th:action="@{/signup}" th:object="${signUpForm}" method="post">
  <div class="container">
  <h1>Регистрация</h1>
    <label th:for="*{login}"><b>Имя пользователя</b></label>
    <input type="text" placeholder=" Имя пользователя" name="login" required>
    <label th:for="*{password}"><b>Пароль</b></label>
    <input type="password" placeholder="Пароль" name="password" required>
    <label th:for="*{password}"><b>Id сотрудника</b></label>
    <input type="text" placeholder="Id сотрудника" name="worker_id" required>
    <button type="submit">Зарегестрировать</button>
  </div>
</form>
</body>
</html>