<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр списка комнат</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="menu-main">
  <ul class="top-menu">
    <li><a th:href="@{/index}">Главная</a></li>
    <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
    <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
    <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
    <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
    <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
    <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
    <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
  </ul>
</div>
<h2>
  <a th:href="@{/CreateService}">Создать услугу</a>
</h2>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
<table>
  <tr>
  </tr>
  <tr th:each="service : ${services}">
    <td th:text="${service.service_name}"></td>
    <td th:text="${service.price}"></td>
    <td th:text="${service.info}"></td>
    <td>
      <a th:href="@{/EditService/{id}(id=${service.id})}">Изменить</a>
      <a th:href="@{/DeleteService/{id}(id=${service.id})}">Удалить</a>
      <a th:href="@{/CreateOrders/{id}(id=${service.id})}">Заказать услугу</a>
    </td>
  </tr>
</table>
</body>
</html>