<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр списка комнат</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h2>
  <div class="top-menu">
    <ul class="menu-main">
      <li><a th:href="@{/indexAdmin}">Главная</a></li>
      <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
      <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
      <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
      <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
      <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
      <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
      <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
    </ul>
  </div>
  <a th:href="@{/CreateRoom}">Создать комнату<p class="pAdmin">(Admin)</p></a>
</h2>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
<table>
  <tr>
    <th>Номер комнаты</th>
    <th>Количество мест</th>
    <th>Цена</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Действия</th>
  </tr>
  <tr th:each="room : ${rooms}">
    <td th:text="${room.number}"></td>
    <td th:text="${room.getCount_places}"></td>
    <td th:text="${room.getCount_places()*10+room.getType_rooms().getPrice()}"></td>
    <td th:text="${room.getType_rooms.name_type}"></td>
    <td th:text="${room.getType_rooms.info}"></td>
    <td>
      <a th:href="@{/EditRoom/{id}(id=${room.id})}">Изменить<p class="pAdmin">(Admin)</p></a>
      <a th:href="@{/DeleteRoom/{id}(id=${room.id})}">Удалить<p class="pAdmin">(Admin)</p></a>
    </td>
  </tr>
  </table>
</body>
</html>