<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список заказов</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="top-menu">
  <ul class="menu-main">
    <li><a th:href="@{/indexAdmin}">Главная</a></li>
    <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
    <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
    <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
    <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
    <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
    <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
    <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
  </ul>
</div>
<div class="header">
  <table>
    <td th:text="${user.worker.lastname}"></td>
    <td th:text="${user.login}"></td>
    <td th:text="${user.roles}"></td>
  </table>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Отчество</th>
    <th>Дата рождения</th>
    <th>Почта</th>
    <th>Действия</th>
  </tr>
  <tr th:each="order : ${orders}">
    <td th:text="${order.getId()}"></td>
    <td th:text="${order.guest.fullName}"></td>
    <td th:text="${order.getDate_orders()}"></td>
    <td th:text="${order.getDate_service()}"></td>
    <td th:text="${order.getWorker()}"></td>
    <td th:text="${order.getService().service_name}"></td>
    <td>
      <a th:href="@{/EditOrders/{id}(id=${order.id})}">Изменить</a>
      <a th:href="@{/DeleteOrders/{id}(id=${order.id})}">Удалить</a>
      <a th:href="@{/SetWorker/{id}(id=${order.id})}">Услуга выполнена</a>

    </td>
  </tr>
</table>
</body>
</html>