<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Список типов комнат</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="menu-main">
  <ul class="top-menu">
    <li><a th:href="@{/index}">Главная</a></li>
    <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
    <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
    <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
    <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
    <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
    <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
    <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
  </ul>
</div>
<h2>

</h2>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
<table>
  <tr  th:each="user : ${userList}">
    <td th:text="${user.login}"></td>
    <td th:text="${user.roles}"/>
    <td th:text="${user.worker}"/>
    <td><a th:href="@{/EditUser/{id}(id=${user.id})}">Изменить</a></td>
    <td><a th:href="@{/DeleteUser/{id}(id=${user.id})}">Удалить</a></td>
  </tr>
</table>
</body>
</html>