<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр списка комнат</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2>
  <a th:href="@{/CreateRoom}">Создать комнату</a>
</h2>
<table>
  <tr>
    <th>Номер комнаты</th>
    <th>Количество мест</th>
    <th>Цена</th>
    <th>Описание</th>
    <th>Действия</th>
  </tr>
  <tr th:each="room : ${rooms}">
    <td th:text="${room.number}"></td>
    <td th:text="${room.countPlaces}"></td>
    <td th:text="${room.price}"></td>
    <td th:text="${room.typeRooms}"></td>
    <td>
      <a th:href="@{/EditRoom/{id}(id=${room.id})}">Изменить</a>
      <a th:href="@{/DeleteRoom/{id}(id=${room.id})}">Удалить</a>
    </td>
  </tr>
  </table>
</body>
</html>