<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Просмотр списка броней</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="top-menu">
  <ul class="menu-main">
    <li><a th:href="@{/indexAdmin}">Главная</a></li>
    <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
    <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
    <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
    <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
    <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
    <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
    <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
  </ul>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
<h2>
</h2>
<table>
  <tr>
    <td>Id</td>
    <td>Номер комнаты</td>
    <td>Цена</td>
    <td>Тип комнаты</td>
    <td>ФИО гостя</td>
    <td>Количество гостей</td>
    <td>Дата заеда</td>
    <td>Дата выезда</td>
    <td>Действия</td>
    <td></td>
  </tr>
  <tr th:each="reservation : ${reservations}">
    <td th:text="${reservation.getId()}"></td>
    <td th:text="${reservation.getRoom().getNumber()}"></td>
    <td th:text="${reservation.getRoom().getPrice()}"></td>
    <td th:text="${reservation.getRoom().getType_rooms()}"></td>
    <td th:text="${reservation.getGuest().getFullName()}"></td>
    <td th:text="${reservation.getGuest_count()}"></td>
    <td th:text="${reservation.getDate_in()}"></td>
    <td th:text="${reservation.getDate_out()}"></td>
    <td>
        <a th:href="@{/EditReservation/{id}(id=${reservation.getId()})}">Изменить</a>
        <a th:href="@{/DeleteReservation/{id}(id=${reservation.getId()})}">Удалить</a>
    </td>
  </tr>
</table>
</body>
</html>