<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Список типов комнат</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="menu-main">
    <ul class="top-menu">
        <li><a th:href="@{/index}">Главная</a></li>
        <li> <a th:href="@{/CreateGuest}">Создать гостя</a><br></li>
        <li><a th:href="@{/ViewRooms}">Просмотр всех комнат</a></li>
        <li><a th:href="@{/ViewTypeRooms}">Просмотр всех типов комнат</a></li>
        <li><a th:href="@{/ViewGuest}">Просмотр всех гостей</a></li>
        <li><a th:href="@{/ViewService}">Просмотр всех услуг</a></li>
        <li><a th:href="@{/ViewReservation}">Просмотр всех броней</a></li>
        <li><a th:href="@{/ViewOrders}">Просмотр всех заказов</a></li>
    </ul>
</div>
<h2>
    <a href="/CreateTypeRoom">Создать тип комнаты</a>
</h2>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;"></div>
<table class="TableRoomType">
    <tr  th:each="typeroom : ${typerooms}">
        <td th:text="${typeroom.name_type}"></td>
        <td th:text="${typeroom.info}"/>
        <td th:text="${typeroom.price}"/>
        <td>
            <img th:src="@{/images/typerooms/{id}.jpg(id=${typeroom.id})}" alt="typeroom"/>
        </td>
        <td><a th:href="@{/EditTypeRoom/{id}(id=${typeroom.id})}">Изменить</a></td>
        <td><a th:href="@{/DeleteTypeRoom/{id}(id=${typeroom.id})}">Удалить</a></td>
    </tr>
</table>
</body>
</html>